.App {
  text-align: center;
}

.inline {
  display: inline;
  float: left;
  margin-left: 20px;
}

a {
  color: #64b5f6;
}

a:hover {
  color: #648df6;
}

a:active {
  color: #424242;
}

.RaMenuItemLink-active-156,
.RaMenuItemLink-active-157 {
  background-image: linear-gradient(to right, #424242, #303030) !important;
}

/*TODO: remove hidden menu rules */
/*.MuiDrawer-root {*/
/*  display: none;*/
/*}*/

.RaLayout-content-4 {
  margin-left: 15px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
  margin-top: 10px;
}

.campaignRow {
  min-height: 20px;
}

.MuiDrawer-root,
.MuiDrawer-docked {
  display: none;
}

/*.seller_info-row {
}*/

/* Fix SectionInput field height */
#section_id-helper-text {
  max-height: 0;
}

/* Fix font size and "spacious" UI */
.MuiButtonBase-root,
.MuiTableCell-head,
.MuiTypography-root,
.MuiTableCell-body {
  font-size: 12px !important;
}
.MuiTableCell-sizeSmall {
  padding: 4px 6px 4px 6px !important;
}

li:nth-last-child(-n+2){
  /*margin-left: 20px;*/
}

.MuiList-root [data-key="campaignSelector"] {
  display: none;
}
